
.nombre{
  margin-top: 2em;
  height: 100px;

}
.efectoNombre {
color: #f2f2f2;
text-shadow: 1px 1px 10px #3D220F;
font-size: 100px;
font-family: 'Unna', serif;
}
.menu li{
  margin-top: 2em;
  padding: 1em;
  border-top: 2px solid #fff;
}
.menu a{
  padding: 2em;
  font-size: 20px; 
  text-decoration: none;
  font-weight: bold;
  color:#fff;
}
.separadorPortada img{
  margin: auto; width: 40%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.separadorSeccion img{
  margin: auto; width: 280px;
}

.contenedor{
  width: 100%; 
  background-image: url('../images/cuerpo2.jpg');
}

/*titulo de las secciones*/

.efectoSeccion {
color: #f2f2f2;
/*color: #212020;*/
text-shadow: 1px 1px 10px #3D220F;
font-size: 50px;
font-family: 'Unna', serif;
}

.sobreMi{
  width: 70%;
  margin:auto;
}
.sobreMi p{
    font-size: 20px;
}
/*foto*/
.foto1 img{  width: 250px;margin-top: 5em;  border: 7px solid #fff; box-shadow: 3px 3px 4px #391D0A;}
.rotar{
  -webkit-transform: rotateZ(-10deg);
  -moz-transform: rotateZ(-20deg);
  -o-transform: rotateZ(-20deg);
}


/*colores vinatge*/
.verde{color: #BFE372;}
.lila{color: #DEA8F5;}
.amarillo{color: #F6F783;}
.celeste{color: #AEF2EC;}
.plomo{color: #E0D6D6;}
.rosa{color: #E16585;}
.verde2{color: #C1DA5F;}




.morado{background-color: #783177;}
.tblanco{color: #fff;}

/*utilitarios*/
.centrar{text-align: center;}
.enlinea{display: inline-block;}
.espaciado{margin: 1em 0;}
.courier{font-family: "courier";}
.cuadros img{margin: 0.3em; border: 8px solid #fff; box-shadow: 5px 5px 18px 1px #391D0A;}


/*efectos de contacto*/
.forma1 {font-size: 40px; font-weight: 200;  font-weight:bold}
.tam1{width: 30px; }
.correo {font-size: 25px; text-shadow: 3px 3px 4px #391D0A; font-weight:bold;}
.contacto {width: 60px; height: 60px; margin: 0.5em;}
.contacto img{ border-radius: 50%;}
.contactos{background-image: url('../images/pie.jpg')}


/*efecto burbujas de portada*/
html { 
  background-image: url('../images/portada2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#blur {
    background: url('../images/portada2d.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#show {
    z-index: 999;
    background-color: #FFFFFF;
    opacity: 0.2;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: help;
    
}

#hide {
    z-index: 999;
    background-color: #FFFFFF;
    opacity: 0.1;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: help;
    
}

.bubbleSmall {
    background: url('../images/portada2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    cursor: help;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    animation-name: bubbleSmall;
    animation-duration: 1.25s;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: bubbleSmall;
    -webkit-animation-duration: 1.25s;
    -webkit-animation-direction: linear;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: bubbleSmall;
    -moz-animation-duration: 1.25s;
    -moz-animation-direction: linear;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: bubbleSmall;
    -o-animation-duration: 1.25s;
    -o-animation-direction: linear;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    
}

@keyframes bubbleSmall {
    0% {opacity: 0.5; top:100%; width:25px;}
    100% {opacity: 0.2; top:0%; width:50px;}
}

@-moz-keyframes bubbleSmall {
    0% {opacity: 0.5; top:100%; width:25px;}
    100% {opacity: 0.2; top:0%; width:50px;}
}

@-webkit-keyframes bubbleSmall {
    0% {opacity: 0.5; top:100%; width:25px;}
    100% {opacity: 0.2; top:0%; width:50px;}
}

@-o-keyframes bubbleSmall {
    0% {opacity: 0.5; top:100%; width:25px;}
    100% {opacity: 0.2; top:0%; width:50px;}
}

.bubbleMedium {
    background: url('../images/portada2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    cursor: help;
    height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    animation-name: bubbleMedium;
    animation-duration: 1.75s;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: bubbleMedium;
    -webkit-animation-duration: 1.75s;
    -webkit-animation-direction: linear;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: bubbleMedium;
    -moz-animation-duration: 1.75s;
    -moz-animation-direction: linear;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: bubbleMedium;
    -o-animation-duration: 1.75s;
    -o-animation-direction: linear;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    
}

@keyframes bubbleMedium {
    0% {opacity: 0.5; top:100%; width:50px;}
    100% {opacity: 0.2; top:0%; width:100px;}
}

@-moz-keyframes bubbleMedium {
    0% {opacity: 0.5; top:100%; width:50px;}
    100% {opacity: 0.2; top:0%; width:100px;}
}

@-webkit-keyframes bubbleMedium {
    0% {opacity: 0.5; top:100%; width:50px;}
    100% {opacity: 0.2; top:0%; width:100px;}
}

@-o-keyframes bubbleMedium {
    0% {opacity: 0.5; top:100%; width:50px;}
    100% {opacity: 0.2; top:0%; width:100px;}
}

.bubbleLarge {
    background: url('../images/portada2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    height: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    animation-name: bubbleLarge;
    animation-duration: 2s;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: bubbleLarge;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: linear;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: bubbleLarge;
    -moz-animation-duration: 2s;
    -moz-animation-direction: linear;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: bubbleLarge;
    -o-animation-duration: 2s;
    -o-animation-direction: linear;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    
}

@keyframes bubbleLarge {
    0% {opacity: 1.0; top:100%; width:100px;}
    100% {opacity: 0.2; top:0%; width:200px;}
}

@-moz-keyframes bubbleLarge {
    0% {opacity: 1.0; top:100%; width:100px;}
    100% {opacity: 0.2; top:0%; width:200px;}
}

@-webkit-keyframes bubbleLarge {
    0% {opacity: 1.0; top:100%; width:100px;}
    100% {opacity: 0.2; top:0%; width:200px;}
}

@-o-keyframes bubbleLarge {
    0% {opacity: 1.0; top:100%; width:100px;}
    100% {opacity: 0.2; top:0%; width:200px;}
}

.bubbleLarge:nth-child(1){
    left:45%;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

.bubbleLarge:nth-child(2){
    left:75%;
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -o-animation-delay: .6s;
}

.bubbleLarge:nth-child(3){
    left:5%;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

.bubbleLarge:nth-child(4){
    left:25% !important;
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
}

.bubbleLarge:nth-child(5){
    left:90%;
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
}

.bubbleMedium:nth-child(6){
    left:90%;
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
}

.bubbleMedium:nth-child(7){
    left:35%;
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
}

.bubbleMedium:nth-child(8){
    left:65%;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

.bubbleMedium:nth-child(9){
    left:75%;
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
}

.bubbleMedium:nth-child(10){
    left:15%;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
}

.bubbleSmall:nth-child(11){
    left:30%;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
}

.bubbleSmall:nth-child(12){
    left:40%;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

.bubbleSmall:nth-child(13){
    left:25%;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
}

.bubbleSmall:nth-child(14){
    left:10%;
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
}

.bubbleSmall:nth-child(15){
    left:20%;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

.bubbleSmall:nth-child(16){
    left:60%;
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
}

.bubbleSmall:nth-child(17){
    left:70%;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

.bubbleSmall:nth-child(18){
    left:55%;
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
}

.bubbleSmall:nth-child(19){
    left:85%;
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
}

.bubbleSmall:nth-child(20){
    left:90%;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
}

