include mixin.jade
doctype html
html(lang='es-PE')
	include head.jade
	body.centrar
		.row
			#blur
			.bubbleLarge
			.bubbleLarge
			.bubbleLarge
			.bubbleLarge
			.bubbleLarge
			.bubbleMedium
			.bubbleMedium
			.bubbleMedium
			.bubbleMedium
			.bubbleMedium
			.bubbleSmall
			.bubbleSmall
			.bubbleSmall
			.bubbleSmall
			.bubbleSmall
			.bubbleSmall
			.bubbleSmall
			.bubbleSmall
			.bubbleSmall
			#hide(onclick="document.getElementById('blur').style.display = 'none';")
			#show(onclick="document.getElementById('blur').style.display = 'inline';")
			+nombre('A','r','a','b','e','l','i','a')
			.menu
				ul.list-unstyled.list-inline.courier
					li
						a(href="espanol.html") Español
					li
						a(href="#") English
					li
						a(href="#") Portugues
			.separadorPortada
				img(src='../images/separadorPortada.png')