include mixin.jade
doctype html
html(lang='es-PE')
	include head.jade
	body.centrar
		.vacio
			.row.capa
				.nombre.espaciado
					span.efectoNombre A
					span.efectoNombre r
					span.efectoNombre a
					span.efectoNombre b
					span.efectoNombre e
					span.efectoNombre l
					span.efectoNombre i
					span.efectoNombre a
				.menu
					ul.list-unstyled.list-inline.courier
						li
							a(href="#") Español
						li
							a(href="#") English
						li
							a(href="#") Portugues
		.contenedor
			//-header
			.row
				.col-sm-4
					.foto1.rotar
						img(src='../images/foto2.jpg')
				.col-sm-8
					block conoceme
			.row.espaciado
				block trabajos
				block cuadros
			.row.contactos.espaciado
				block contactame
