include mixin.jade
doctype html
html(lang='es-PE')
	include head.jade
	body.centrar
		.contenedor
			//-header
			.row
				.col-sm-4
					.foto1.rotar
						img(src='../images/foto2.jpg')
				.col-sm-8
					block conoceme
			.row.espaciado
				block intereses
			.row.espaciado
				block trabajos
				block cuadros
			.row.contactos.espaciado
				block contactame
